<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Dasbor</title>
    </head>
    <body>
        <div class="container col-md-6">
            <h2 class="mt-5 mb-5 text-center">Detail Transaksi</h2>

            <div class="container">
                <table class="table">
                    <thead>
                        <th>Parameter</th>
                        <th>Nilai</th>
                    </thead>
                    <tr>
                        <td>ID Transaksi</td>
                        <td>{{data['id_transaksi']}}</td>
                    </tr>
                    <tr>
                        <td>Waktu</td>
                        <td>{{data['waktu_transaksi']}}</td>
                    </tr>
                    <tr>
                        <td>Nama User</td>
                        <td>{{data['nama_user']}}</td>
                    </tr>
                    <tr>
                        <td>Provider</td>
                        <td>{{data['nama_provider']}}</td>
                    </tr>
                    <tr>
                        <td>No Handphone</td>
                        <td>{{data['no_hp']}}</td>
                    </tr>
                    <tr>
                        <td>Nominal Pulsa</td>
                        <td>{{data['nominal_pulsa']}}</td>
                    </tr>
                    <tr>
                        <td>Status Transaksi</td>
                        <td>{{data['status_transaksi']}}</td>
                    </tr>
                </table>

                <!-- Audio -->
                <table class="table table-striped">
                    <thead>
                        <th>Attempt</th>
                        <th>Nama File</th>
                        <th>Play</th>
                        <th>Prediksi Speaker Verification</th>
                        <th>Prediksi Speech Recognition <br> (Prediksi / Fakta)</th>
                    </thead>
                    <tbody>
                        {% for row in audio %}
                        <tr>
                            <td>{{row['attempt']}}</td>
                            <td>{{row['nama_rekaman_transaksi']}}</td>
                            <td>
                                <a href="{{ url_for('play_audio', path_rekaman=row['path_rekaman'], nama_file=row['nama_rekaman_transaksi']) }}">Memutar Rekaman</a>
                            </td>
                            <td>{{row['y_pred_sv']}}</td>
                            <td>{{row['y_pred_sr'] ~ " / " ~ row['kode_angka']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>